<html>
<head>
<title>所有设备</title>

<script type="text/javascript" src="../html/head.js"></script>

</head>
<div class="container-fluid">
  <div class="row  banner-logo">
    <div class="col-md-1">
      <img src="../img/SJTU-logo.png" class="img-responsive">
    </div>
    <div class="col-md-11">
      <p>物关管理系统</p>
    </div>
  </div>
</div>
<body>
  <script type="text/javascript" src="../html/nav.js"></script>

<div class="container">
  <p></p>
  <table class="table">
    <tbody>
      <%for (var i =0;i< facilities.length;i++){ %>
      <tr>
        <th scope="row"><%=(i+1)%></th>
        <td><a href=<%="facility?name="+facilities[i] %> ><%= facilities[i] %></a></td>
      </tr>
      <%} %>
    </tbody>
  </table>
  <button type="button" class="btn btn-default" >button</button>
</div>

<script type="text/javascript" src="../html/nav-foot.js"></script>

</body>
<script type="text/javascript" src="../html/foot.js"></script>
<script type="text/javascript">
  window.onload= function(){
    var ele=document.getElementById("allFacilities");
    ele.className="active";
  }
</script>


</html>
