<html>
<head>
<title>所有设备</title>

<script type="text/javascript" src="../html/head.js"></script>

</head>

<body>
  <script type="text/javascript" src="../html/nav.js"></script>

<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href=""><%= facilities[0] %></a></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-default">默认按钮</button>
</div>

<script type="text/javascript" src="../html/nav-foot.js"></script>

</body>
<script type="text/javascript" src="../html/foot.js"></script>

</html>
