<html>
<head>
<title>设备信息-<%=info.设备名称%></title>

<script type="text/javascript" src="../html/head.js"></script>

</head>

<body>
  <script type="text/javascript" src="../html/nav.js"></script>

<div class="container">
  <table class="table">
    <tbody>
      <%for (var p in info){ %>
      <tr>
        <th scope="row"><%=p+":"%></th>
        <td><%= info[p] %></td>
      </tr>
      <%} %>
    </tbody>
  </table>
  <a href="listAll"><button type="button" class="btn btn-default">返回</button></a>
</div>

<script type="text/javascript" src="../html/nav-foot.js"></script>

</body>
<script type="text/javascript" src="../html/foot.js"></script>

</html>
